

          <footer class="page-footer #212121 grey darken-4">
            <a href="https://www.facebook.com/LocalBarOrlando/"><img src="images/fb.png" width = 40px alt=""></a>
                <a  href="https://www.instagram.com/LocalBarOrlando/"><img src="images/insta.png" width = 40px alt=""></a>
                <p class="grey-text text-lighten-4 right">© The Local Bar & Grill    </p>

          </footer>
</body>



</html>