<!DOCTYPE html>
<html>

<head>
  <title>The Education Collective</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;500;700&family=Kalam:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/glass.png" />
  
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div id="nav-mobile" class="nav-wrapper">
        <a href="/"><img src="logo.jpg" class="brand-logo center" alt="LOGO" width="120px" height="90%"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
                <% if (user) { %>
                  <a href="/logout"><i class="material-icons left">person</i>Log Out</a>
                  <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">person_outline</i>Login with Google</a>
                    <% } %>
              </li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
		  <li><a href="/fetch-data">Collection</a></li>
		  <% if (user) { %>
       <li><a href="/userForm">Add Post Test</a></li>
       <% }%>
		  
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
	<li><a href="/"><i class="material-icons left">collection</i>Collections</a></li>
        <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">person</i>Log Out</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left">person_outline</i>Login with Google</a>
              <% } %>
        </li>
  </ul>