<%- include('./partials/header') %>
<main>

    <div><h2>Hours</h2>
        <p>Sunday-Thursday: 3pm-12am</p>
        <p>Friday-Saturday: 3pm-2am</p>
        </div>
        <div><h2>Contact Us</h2>
        <p>(407) 900-9005</p>
        <p>localbarorlando@gmail.com</p></div>
        <div><h2>Location</h2>
        <p>3231 Edgewater Dr, Orlando FL 32804</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.6429456179167!2d-81.39143804911792!3d28.580482693099018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77a7954e3c219%3A0x682f41925283697d!2sThe%20LOCAL%20College%20Park!5e0!3m2!1sen!2sus!4v1615831170261!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div><h2>About us</h2>
        <p style="width:350px">
            The Local is a safe, clean, and fun casual sports restaurant and bar in Orlando, Florida.
            The cooked to order menu features burgers, wings, appetizers, salads, desserts and more.
            Sports, pool tables, darts, music, and a great friendly vibe.</p></div>

            
</main>




        <%- include('./partials/footer') %>