<%- include('./partials/header') %>
<main>

    <div><h2>Hours</h2>
        <p>Sunday-Thursday: 3pm-12am</p>
        <p>Friday-Saturday: 3pm-2am</p>
        </div>
        <div><h2>Contact Us</h2>
        <p>(407) 900-9005</p>
        <p>localbarorlando@gmail.com</p></div>
        <div><h2>Location</h2>
        <p>3231 Edgewater Dr, Orlando FL 32804</p></div>
        <div><h2>About us</h2>
        <p>
            The Local is a safe, clean, and fun casual sports restaurant and bar in Orlando, Florida.
            The cooked to order menu features burgers, wings, appetizers, salads, desserts and more.
            Sports, pool tables, darts, music, and a great friendly vibe.</p></div>

            
</main>




        <%- include('./partials/footer') %>