<%- include('./partials/header') %>


<main class="container">



    <br><div class="row">
        <div class="col s4">
            <img src="images/glass.png" alt="">
        </div>
        <div class="col s4">

        </div>
        <div class="col s4 center">
            <h3>Specialty Cocktails</h3>
            <p>Par St Mule</p>
            <p>Main St Margarite</p>
            <p>Pat's LIT</p>
            <p>The Local Park Rum Runner</p>
            <p>Irish Mule</p>
            <p>Pablo Escobar</p>
        </div>
      </div>

      <div class="row">

        <div class="col s4 center">
            <h3>Drafts</h3>
            <p>Budweiser</p>
            <p>Bud Light</p>
            <p>Blue Moon</p>
            <p>Lagunitas IPA</p>
            <p>Kona Big Wave</p>
        </div>
        <div class="col s4">

        </div>
        <div class="col s4">
            <img src="images/beer.png" alt="">

        </div>
      </div>
 
    <div class="row center">

        
    </div>
</main>

<%- include('./partials/footer') %>