<%- include('./partials/header') %>


<main>
    <div class="row">
        <h3>Specialty Cocktails</h3>
        <p>Par St Mule</p>
        <p>Main St Margarite</p>
        <p>Pat's LIT</p>
        <p>The Local Park Rum Runner</p>
        <p>Irish Mule</p>
        <p>Pablo Escobar</p>
    </div>
    <div class="row">
        <h3>Drafts</h3>
        <p>Budweiser</p>
        <p>Bud Light</p>
        <p>Blue Moon</p>
        <p>Lagunitas IPA</p>
        <p>Kona Big Wave</p>
        
    </div>
</main>

<%- include('./partials/footer') %>