<%- include('./partials/header') %>


<main class="container center">



    <br><div class="row">
        <div class="col s4">
            <img src="images/glass.png" alt="">
        </div>
        <div class="col s4">
            <h3>Specialty Cocktails</h3>
            <p>Par St Mule</p>
            <p>Main St Margarite</p>
            <p>Pat's LIT</p>
            <p>The Local Park Rum Runner</p>
            <p>Irish Mule</p>
            <p>Pablo Escobar</p>
        </div>
        <div class="col s4"><br> <br>
            <img src="images/shot.png"  alt="">
        </div>
  
      </div>

      <div class="row">

        <div class="col s4">
            <h3>Drafts</h3>
            <p>Budweiser</p>
            <p>Bud Light</p>
            <p>Blue Moon</p>
            <p>Lagunitas IPA</p>
            <p>Kona Big Wave</p>
        </div>

        <div class="col s4">
            <img src="images/beer.png" alt="">

        </div>
        <div class="col s4">
            <h3>Shots</h3>
            <p>Pink Starburst</p>
            <p>Haley Shot</p>
            <p>Fruit Loop</p>
            <p>Green Tea</p>
            <p>Creamsicle</p>

        </div>
      </div>
 
    <div class="row center">

        
    </div>
</main>

<%- include('./partials/footer') %>