<%- include('./partials/header') %>
    <main class="container center">
      <br><img class="menu-pic"src="images/drnk.png" alt="">

          <div id="diffFont" class="row center">
              <div class="col s4">
                <h3>Drafts</h3>
                <p>Budweiser</p>
                <p>Bud Light</p>
                <p>Blue Moon</p>
                <p>Lagunitas IPA</p>
                <p>Kona Big Wave</p>
              </div>

              <div class="col s4">
                <h3>Drinks</h3>
                <p>Par St Mule</p>
                <p>Main St Margarita</p>
                <p>Pat's LIT</p>
                <p>The Local Park Rum Runner</p>
                <p>Irish Mule</p>
                <p>Pablo Escobar</p>
              </div>

              <div class="col s4">
                <h3>Shots</h3>
                <p>Pink Starburst</p>
                <p>Haley Shot</p>
                <p>Fruit Loop</p>
                <p>Green Tea</p>
                <p>Creamsicle</p>
              </div>
            </div>
      </main>
<%- include('./partials/footer') %>