<%- include('./partials/header') %>
  <main class="container center">
    <br> <img class="hh" src="/images/hh.png" alt="">

    <div id="diffFont" class="row center">
      <div class="col s4">
        <h3>$2 Wells</h3>
        <p>House Vodka</p>
        <p>House Rum</p>
        <p>House Whiskey</p>
        <p>House Tequila</p>
        <p>House Gin</p>
      </div>

      <div class="col s4">
        <h3>$5 Apps</h3>
        <p>Cheese Quesadilla</p>
        <p>Veggie Quesadilla</p>
        <p>Sante Fe Chicken Egg Rolls</p>
        <p>Soft Pretzels</p>
        <p>Mozzerella Sticks</p>
        <p>Jalapeno Poppers</p>
        <p>Loaded Tater Tots</p>
      </div>
      
      <div class="col s4">
        <h3>$2 Drafts</h3>
        <p>Budweiser</p>
        <p>Bud Light</p>
        <p>Blue Moon</p>
        <p>Lagunitas IPA</p>
        <p>Kona Big Wave</p>
      </div>
    </div>
  </main>


  <%- include('./partials/footer') %>