<%- include('./partials/header') %>
<main>

    <p>main page</p>


    <img src="images/wings.png" alt="" >
    <img src="images/salad.png" alt="" >
    <img src="images/brg.png" alt="">
    

</main>
   
    <%- include('./partials/footer') %>
  
