<%- include('./partials/header') %>
<main>


    <div class="divider"></div>
    <div class="section center">
        <h5></h5>
        <img class="welcome" src="images/welcome2.png" height="626px" width="1279px" alt="">
      
    </div>
    <div class="divider"></div>
    <div class="section center">
        <h5>The Local Bar & Grill Voted One Of The Top Wing Spots In Orlando!</h5>
      <a href="https://photos.orlandoweekly.com/the-25-most-essential-down-home-orlando-wing-joints/?slide=4&the-local-yelp">Check out the article here!</a><br><br>

      <div class="divider"></div>
      <div class="section center">
        <h5>Best Happy Hour In Town</h5>
        <img src="images/cheers.png" alt="">
        <p>Monday-Friday 3PM - 7PM and Saturdays 10PM - 2AM</p>
        <p><b>$2 Drafts and $2 Wells</b></p>
     
      </div>

    </div>
    <div class="divider"></div>
    <div class="section center">
      <h5>BBQ First Saturday Of Every Month</h5>
      <p>Dont forget to mark your calenders!</p>
    </div>



    <div class="row">

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/brg.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Whiskey Wednesday<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Whiskey Wednesday<i class="material-icons right">close</i></span>
                  <p>Every Wednesday our fresh never frozen Whiskey Burger is only $10 and comes with a free shot of whiskey!</p>
                </div>
              </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/salad.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Catering<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Catering<i class="material-icons right">close</i></span>
                  <p>We can cater your next event! Email us at localbarorlando@gmail.com for more information</p>
                </div>
              </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/wings.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">50¢ Wing Mondays<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">50¢ Wing Mondays<i class="material-icons right">close</i></span>
                  <p>Every Monday night come enjoy the best wings in orlando for only 50¢ a wing!</p>
                </div>
              </div>
        </div>
  
      </div>
    

</main>
   
    <%- include('./partials/footer') %>
  
