<%- include('./partials/header') %>
  <main>
    <div class="construction">
      <h1>The Education Collective</h1>
      <h2>Under Construction</h2>
    </div>
  </main>
  <%- include('./partials/footer') %>