<%- include('./partials/header') %>

    <main class="container">

        <div class="row center">
            <br><img src="/images/menu.png" alt="">

            <div class="col s4">
                <h3>Appetizers</h3>
                <p>Cheese Quesadilla</p>
                <p>Chicken Quesadilla</p>
                <p>Steak Quesadilla</p>
                <p>Veggie Quesadilla</p>
                <p>Sante Fe Chicken Egg Rolls</p>
                <p>Soft Pretzels</p>
                <p>Mozzerella Sticks</p>
                <p>Jalapeno Poppers</p>
                <p>French Fry Basket</p>
                <p>Onion Ring Basket</p>
                <p>Loaded Tater Tots</p>
            </div>
            <div class="col s4">


                <h3>Wings</h3>
                <p>Mild</p>
                <p>Medium</p>
                <p>Hot</p>
                <p>BBQ</p>
                <p>Teriyaki</p>
                <p>Sweet Thai Chili</p>
                <p>Garlic Parmesan</p>
                <p>Jerked</p>
            </div>
            <div class="col s4">
                <h3>Sandwiches</h3>
                <p>French Dip</p>
                <p>Grilled Chicken</p>
                <p>Grilled Cheese</p>
                <p>Hot Dog</p>
                <p>Philly Cheese Steak</p>
                <p>BLT Wrap</p>
                <p>Chicken Tender Wrap</p>
                <p>Teriyaki Chicken Wrap</p>
            </div>

        </div>


        <div class="row center">

            <div class="col s4">
                <h3>Burgers</h3>
                <p>Classic Cheeseburger</p>
                <p>BeerCheese burger</p>
                <p>Beyond Burger</p>
                <p>Whiskey Burger</p>
            </div>
            <div class="col s4">
                <h3>Salads</h3>
                <p>House Salad</p>
                <p>Ceaser Salad</p>
            </div>
            <div class="col s4">
                <h3>Desserts</h3>
                <p>Lava Cake</p>
                <p>Fried Cheesecake</p>
            </div>

        </div>

        <br>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>






    </main>


    <%- include('./partials/footer') %>