<%- include('./partials/header') %>
    <main class="container center">
        <div class="center">
            <br><img class="menu-pic" src="/images/menu.png" alt="">
            <br>
            <ul id="diffFont" class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Appetizers</div>
                    <div class="collapsible-body"><span>
                            <p>Cheese Quesadilla</p>
                            <p>Chicken Quesadilla</p>
                            <p>Steak Quesadilla</p>
                            <p>Veggie Quesadilla</p>
                            <p>Sante Fe Chicken Egg Rolls</p>
                            <p>Soft Pretzels</p>
                            <p>Mozzerella Sticks</p>
                            <p>Jalapeno Poppers</p>
                            <p>French Fry Basket</p>
                            <p>Onion Ring Basket</p>
                            <p>Loaded Tater Tots</p>
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Wings</div>
                    <div class="collapsible-body"><span>
                            <u><b>
                                    <p>Flavors</p>
                                </b></u>
                            <p>Mild</p>
                            <p>Medium</p>
                            <p>Hot</p>
                            <p>BBQ</p>
                            <p>Teriyaki</p>
                            <p>Sweet Thai Chili</p>
                            <p>Garlic Parmesan</p>
                            <p>Jerked</p>
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Sandwiches</div>
                    <div class="collapsible-body"><span>
                            <p>French Dip</p>
                            <p>Grilled Chicken</p>
                            <p>Grilled Cheese</p>
                            <p>Hot Dog</p>
                            <p>Philly Cheese Steak</p>
                            <p>BLT Wrap</p>
                            <p>Chicken Tender Wrap</p>
                            <p>Teriyaki Chicken Wrap</p>
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Burgers</div>
                    <div class="collapsible-body"><span>
                            <p>Classic Cheeseburger</p>
                            <p>BeerCheese burger</p>
                            <p>Beyond Burger</p>
                            <p>Whiskey Burger</p>
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Salads</div>
                    <div class="collapsible-body"><span>
                            <p>House Salad</p>
                            <p>Ceaser Salad</p>
                        </span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Desserts</div>
                    <div class="collapsible-body"><span>
                            <p>Lava Cake</p>
                            <p>Fried Cheesecake</p>
                        </span></div>
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partials/footer') %>