<%- include('./partials/header') %>

<main>
    <form action='/cart' method='POST'>

      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Appetizers</option>
          <option value="Chicken Quesadilla">Chicken Quesadilla</option>
          <option value="Mozzerella Sticks">Mozzerella Sticks</option>
          <option value="Soft Pretzels">Soft Pretzels</option>
        </select>
        
      </div><br>
      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Burgers</option>
          <option value='{"item": "Classic Cheeseburger", "price":10}'>Classic Cheeseburger</option>
          <option value='{"item": "Whiskey Burger", "price":12}'>Whiskey Burger</option>
          <option value='{"item": "Beyond Burger", "price":11}'>Beyond Burger</option>
        </select>
        
      </div><br>
      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Sandwiches</option>
          <option value="French Dip">French Dip</option>
          <option value="Philly Cheese Steak">Philly Cheese Steak</option>
          <option value="Grilled Chicken">Grilled Chicken</option>
        </select>
    
      </div><br>
      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Wings(10pc)</option>
          <option value="Mild">Mild</option>
          <option value="Medium">Medium</option>
          <option value="Hot">Hot</option>
          <option value="BBQ">BBQ</option>
          <option value="Teriyaki">Teriyaki</option>
        </select>
        
      </div><br>
      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Salads</option>
          <option value="House">House</option>
          <option value="House W/ Chicken">House W/ Chicken</option>
          <option value="Ceaser">Ceaser</option>
          <option value="Ceaser W/ Chicken">Ceaser W/ Chicken</option>
        </select>
      </div><br>
      <div class="input-field col l2"  style="width:300px">
        <select name="item" multiple>
          <option value="" disabled selected>Desserts</option>
          <option value="Lava Cake">Lava Cake</option>
          <option value="Fried Cheesecake">Fried Cheescake</option>
        </select>
    </div><br>
        <div class="input-field col l2"  style="width:300px">
            <select name="item" multiple>
              <option value="" disabled selected>Drinks</option>
              <option value="2-liter Coke">2-liter Coke</option>
              <option value="2-liter Sprite">2-liter Sprite</option>
            </select>
    
      </div><br>
      
<input class="btn" type="submit" value="Checkout">
    </form>
</main>


<%- include('./partials/footer') %>