<%- include('./partials/header') %>

<main class="container center">
    <form action='/cart' method='POST'><br>
      <div class="input-field col l2"  >
        <select name="item" multiple>
          <option value="" disabled selected>Appetizers</option>
          <option value="Chicken Quesadilla.10">Chicken Quesadilla $10</option>
          <option value="Steak Quesadilla.10">Steak Quesadilla $10</option>
          <option value="Cheese Quesadilla.8">Cheese Quesadilla $8</option>
          <option value="Veggie Quesadilla.8">Veggie Quesadilla $8</option>
          <option value="Mozzerella Sticks.6">Mozzerella Sticks $6</option>
          <option value="Soft Pretzels.8">Soft Pretzels $8</option>
          <option value="Jalapeno Poppers.6">Jalapeno Poppers $6</option>
          <option value="Loaded Tater Tots.6">Loaded Tater Tots $6</option>
          <option value="Sante Fe Chicken Egg Rolls.8">Sante Fe Chicken Egg Rolls $8</option>
        </select>
    </div><br>
    <div class="input-field col l2">
      <select name="item" multiple>
        <option value="" disabled selected>Burgers</option>
        <option value="Classic Cheeseburger.10">Classic Cheeseburger $10</option>
        <option value="Whiskey Burger.12">Whiskey Burger $12</option>
        <option value="Beer Cheese Burger.12">Beer Cheese Burger $12</option>
        <option value="Beyond Burger.11">Beyond Burger $11</option>
      </select>
        
      </div><br>
      <div class="input-field col l2">
        <select name="item" multiple>
          <option value="" disabled selected>Sandwiches</option>
          <option value="French Dip.10">French Dip $10</option>
          <option value="Philly Cheese Steak.10">Philly Cheese Steak $10</option>
          <option value="Grilled Chicken.10">Grilled Chicken $10</option>
          <option value="Hot Dog.10">Hot Dog $5</option>
          <option value="Grilled Cheese.5">Grilled Cheese $5</option>
          <option value="BLT Wrap.8">BLT Wrap $8</option>
          <option value="Chicken Teriyaki Wrap.10">Chicken Teriyaki Wrap $10</option>
          <option value="Chicken Tender Wrap.10">Chicken Tender Wrap $10</option>
        </select>
    
      </div><br>
      <div class="input-field col l2"  >
        <select name="item" multiple>
          <option value="" disabled selected>Wings</option>
          <option value="Five Wings.7">5 Wings $7</option>
          <option value="Ten Wings.12">10 Wings $12</option>
          <option value="Fifteen Wings.17">15 Wings $17</option>
          <option value="Twenty Wings.21">20 Wings $21</option>
          <option value="Fifty Wings.50">50 Wings $50</option>
        </select>
        
      </div><br>
      <div class="input-field col l2"  >
        <select name="item" multiple>
          <option value="" disabled selected>Salads</option>
          <option value="House Salad.6">House $6</option>
          <option value="House Salad W/ Chicken.9">House W/ Chicken $9</option>
          <option value="Ceaser Salad.6">Ceaser $6</option>
          <option value="Ceaser Salad W/ Chicken.9">Ceaser W/ Chicken $9</option>
        </select>
      </div><br>
      <div class="input-field col l2"  >
        <select name="item" multiple>
          <option value="" disabled selected>Desserts</option>
          <option value="Lava Cake.5">Lava Cake $5</option>
          <option value="Fried Cheesecake.5">Fried Cheescake $5</option>
        </select>
    </div><br>
        <div class="input-field col l2" >
            <select name="item" multiple>
              <option value="" disabled selected>Drinks</option>
              <option value="2-liter Coke.3">2-liter Coke $3</option>
              <option value="2-liter Diet Coke.3">2-liter Diet Coke $3</option>
              <option value="2-liter Sprite.3">2-liter Sprite $3</option>
            </select>
    
      </div><br>
      <button class="btn waves-effect waves-light black" type="submit" name="action">Add To Cart
        <i class="material-icons right">add_shopping_cart</i>
      </button><br><br>
    </form>





   
</main>


<%- include('./partials/footer') %>