<%- include('./partials/header') %>

<main>
    <div class="row">
        <ul>
            <h3>Appertizers</h3>
            <a class="waves-effect waves-light btn">Cheese Quesadilla</a>
            <a class="waves-effect waves-light btn">Chicken Quesadilla</a>
            <a class="waves-effect waves-light btn">Steak Quesadilla</a>
            <a class="waves-effect waves-light btn">Veggie Quesadilla</a>
            <a class="waves-effect waves-light btn">Santa Fe Egg Rolls</a>
            <a class="waves-effect waves-light btn">Soft Pretzels</a>
            <a class="waves-effect waves-light btn">Mozzerella Sticks</a>
            <a class="waves-effect waves-light btn">Jalapeno Poppers</a>
            <a class="waves-effect waves-light btn">French Fry Basket</a>
            <a class="waves-effect waves-light btn">Onion Ring Basket</a>
            <a class="waves-effect waves-light btn">Loaded Tater Tots</a>
        </ul>
    </div>
    <div class="row">
        <ul>
            <h3>Burgers</h3>
            <a class="waves-effect waves-light btn">Classic Cheeseburger</a>
            <a class="waves-effect waves-light btn">Beer Cheese Burger</a>
            <a class="waves-effect waves-light btn">Beyond Burger</a>
            <a class="waves-effect waves-light btn">Whiskey Burger</a>
        </ul>
    </div>
    <div class="row">
        <ul>
            <h3>Sandwiches</h3>
            <a class="waves-effect waves-light btn">French Dip</a>
            <a class="waves-effect waves-light btn">Grilled Chicken</a>
            <a class="waves-effect waves-light btn">Grilled Cheese</a>
            <a class="waves-effect waves-light btn">Hot Dog</a>
            <a class="waves-effect waves-light btn">Philly Cheese Steak</a>
            <a class="waves-effect waves-light btn">BLT Wrap</a>
            <a class="waves-effect waves-light btn">Chicken Tender Wrap</a>
            <a class="waves-effect waves-light btn">Teriyaki Chicken Wrap</a>
        </ul>
        <div class="row">
            <ul>
                <h3>Salads</h3>
                <a class="waves-effect waves-light btn">House Salad</a>
                <a class="waves-effect waves-light btn">Ceaser Salad</a>
            </ul>
            <div class="row">
                <ul>
                    <h3>Wings</h3>
                    <a class="waves-effect waves-light btn">5</a>
                    <a class="waves-effect waves-light btn">10</a>
                    <a class="waves-effect waves-light btn">15</a>
                    <a class="waves-effect waves-light btn">20</a>
              
                </ul>

    


  
   
    <div class="row">
        <h3>Wings</h3>
        <p>Mild</p>
        <p>Medium</p>
        <p>Hot</p>
        <p>BBQ</p>
        <p>Teriyaki</p>
        <p>Sweet Thai Chili</p>
        <p>Garlic Parmesan</p>
        <p>Jerked</p>
    </div>
    <div class="row">
        <h3>Desserts</h3>
        <p>Lava Cake</p>
        <p>Fried Cheesecake</p>
    </div>
    <div class="row">
        <h3>Drinks</h3>
        <p>2-liter Coke</p>
        <p>2-liter Sprite</p>
    
    </div>

</main>


<%- include('./partials/footer') %>