body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#black{
  color: black;
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
.empty-cart {
  color: #8f8f8f;
  display: flex;
  font-size: 75px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.carousel { 
  min-height: 700px;
  margin-top: 0px;
  margin-bottom: -250px;
  }
  .carousel .carousel-item {
    width:500px !important;
  }
  #diffFont {
    font-family: 'Cinzel', serif;
  }
  #diffFontTwo {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Kalam', cursive;
  }
  .welcome {
    width: 75%;
    height: auto;
  }
  .menu-pic {
    width:75%;
    height: auto;
  }
  #drinks {
    width:75%;
    height: auto;
    border: 0;
  }
  #drinks-content {
    margin: -3%;
  }
  .map {
    width:auto;
    height: 75%;
    border:0;
  }
  .hh {
    width:75%;
    height: auto;
 
  }
  #x {
    display:none;
  }
  #contact {
    width:auto;
  }
  @media only screen and (max-width: 500px) {
    #x{
      display:flex
    }
    #del-review{
      display:none;
    }
    #hide{
      display: none;
    }
  
    
  }


